.key {
    font-family: sans-serif;
    border: 3px black solid;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

.disabled {
    color: #a7a7a7;
    border: 3px #a7a7a7 solid;
    cursor: default;
    pointer-events: none;
}